@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

.restaurant-container{
    max-width: 1400px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

.restaurant-card{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.restaurant-image-container{
    display: flex;
    align-items: center;
    padding-right: 20px;
    margin: 0;
}

.restaurant-image{
    object-fit: cover;
    height: 100%;
    height: 270px;
    width: 400px;
    border-radius: 20px;
    
}

.restaurant-name{
    font-size: 40px;
    font-weight: 700;
}

.restaurant-type{
    padding-right: 10px;
}

.restaurant-cost-container{
    padding-right: 10px;
}

.restaurant-cost{
    padding-left: 10px;
}

.restaurant-phone{
    padding-left: 10px;
}

.restaurant-address{
    padding-right: 10px;
}

.restaurant-description{
    padding: 0 0 6px 0;
}

.type-cost{
    display: flex;
    padding: 6px 0 0 0;
}

.address-phone{
    display: flex;
}

.button-container{
    display: flex;
    padding: 6px 0px;
}

.review-container, .write-container, .website-container{
    padding-right: 10px;
}

.review, .write, .website {
    border: none;
    color: white;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
}

.review{
    background-color: #0076BE;
}

.review:hover{
    background-color: #04629c;
}

.write{
    background-color: #76517e;
}

.write:hover{
    background-color: #63356d;
}

.website{
    background-color: #4CAF50;
}

.website:hover{
    background-color: #38803a;
}

.star-container{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.star{
    width: 100%;
    width: 18px;
    height: 18px;
    padding-bottom: 2px;
    padding-right: 2px;
}





